*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}


.contenedor{
    margin-top: 60px;
    margin-bottom: 60px;
}

.card-img{
    height: 160px;
    overflow:visible;
    position: relative;
    text-align: center;
}

.card-img img{
    width:auto;
    height:160px;
}

.desc{
    height: 45px;
    overflow: hidden;
}

.desc:hover{
    height: auto;
    overflow:visible;
}

.footer{
<<<<<<< HEAD
    background-color: blueviolet;
=======
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
    background-color: gray;
    padding: 5px 30px;
    text-align: end;
    color: whitesmoke;
>>>>>>> 838c3cd99489c4b2534aed2cae8408a1dfa0c790
}