*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.contenedor{
    margin-top: 60px;
}

.card-img{
    height: 160px;
    overflow:visible;
    position: relative;
    text-align: center;
}

.card-img img{
    width:auto;
    height:160px;
}


.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
    background-color: gray;
    padding: 5px 30px;
    text-align: end;
    color: whitesmoke;
}