#map { 
    height: 400px; 
    background-color: aqua;
}

footer{
    position: relative;
    text-align: end;
    margin:30px ;
    font-size: 25px;
    font-style: italic;
    background: linear-gradient(90deg, rgba(0,128,0,0.2), rgba(138,43,226,0.3))
}