.contenedor{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    width: 500px !important;
    height: 500px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.contenedorIndex{
    min-height: 400px;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgContainer{
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}